@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

body::before{
    content: " ";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:  url(../assets/images/background.jpg);
    opacity: 0.75;
}

#inputs {
    position: relative;
    background: rgba(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
    font-family: 'Merriweather', serif;
}

input[type="text"] {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 3px;
    border: 2px solid black;
}

input[type = "submit"] {
    border-radius: 12px;
    padding: 3px;
    border: 2px solid black;
}

label[for="destination"] {
    padding-left: 5px;
}

#weather {
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    width: 30%;
    background: rgba(62, 62, 63, 0.3);
    text-align: center;
    transition: 0.3s;
}

#weather:hover {
    background: rgba(62, 62, 63, 0.5);
    scale: 1.1;
}

#route {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#myMap , #map {
    height: 350px;
    width: 350px;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: relative;
    bottom: 0px;
    font-weight: bold;
}

@media (max-width : 870px) {
    #inputs {
        margin-bottom: 10px;
    }

    #routeForm {
        display : flex;
        flex-direction: column;
    }

    input[type="text"] {
        width: 175px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        width: 50px;
    }

    #weather {
        width :277px
    }

    label {
        margin-bottom: 5px;
    }
}

@media (max-width : 750px) {
    #route {
        flex-direction: column;
        align-items: center;
    }

    #map {
        margin-bottom: 5px;
    }

}

@media (max-width : 550px) {
    #weatherForm {
        display: flex;
        flex-direction: column;
    }
}