body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

body::before{
    content: " ";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:  url(../assets/images/background.jpg);
    opacity: 0.75;
}

#inputs {
    position: relative;
}

#weather {
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    width: 30%;
    background: rgba(62, 62, 63, 0.3);
    text-align: center;
    transition: 0.3s;
}

#weather:hover {
    background: rgba(62, 62, 63, 0.5);
    scale: 1.2;
}

#route {
    position: relative;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: relative;
}

